<h2 class="px-[24px] pt-[20px] text-[16px] font-semibold">{{ data.title }}</h2>
<mat-dialog-content>
  <ng-template #dynamicComponentContainer></ng-template>
</mat-dialog-content>
<mat-dialog-actions align="end" class="gap-2" [ngClass]="{ 'pointer-events-none': data.loading?.state }">
  <button mat-button mat-dialog-close mat-raised-button (click)="onActionClick('cancel')">
    {{ data.cancelButtonText || 'Cancel' }}
  </button>
  <button
    [attr.form]="data.formName"
    type="submit"
    color="primary"
    mat-button
    cdkFocusInitial
    mat-raised-button
    class="dialog-btn"
    (click)="onActionClick('confirm')">
    <mat-spinner *ngIf="data.loading?.state" diameter="20" />
    <span *ngIf="!data.loading?.state">{{ data.confirmButtonText || 'Confirm' }}</span>
  </button>
</mat-dialog-actions>
