<mat-toolbar class="fixed top-0 z-[999] flex w-full items-center justify-between">
  <div class="flex items-center">
    <button mat-icon-button aria-label="toggle-menu" (click)="toggleDrawer()">
      <mat-icon>menu</mat-icon>
    </button>
    <button [routerLink]="'/home'" class="mt-[7px]">Diman Job Finder</button>
  </div>
  <div>
    <button *ngIf="user" mat-icon-button class="favorite-icon" aria-label="toggle favorites" (click)="closeDrawer()">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="user-icon" aria-label="toggle user" (click)="accountBtnAction()">
      <mat-icon>person</mat-icon>
    </button>
  </div>
</mat-toolbar>
