<div
  [matBadge]="application.job.isActive ? application.status : 'INACTIVE'"
  matBadgeSize="large"
  matBadgePosition="before"
  matBadgeOverlap="true"
  class="custom-badge"
  [ngClass]="getStatusClass(application.job.isActive ? application.status : 'INACTIVE')">
  <mat-card [ngClass]="application.job.isActive ? '' : 'inactive-card'">
    <mat-card-content>
      <div>
        <div class="flex w-full flex-wrap items-center justify-between gap-2">
          <mat-chip-set aria-label="Chip selection">
            <mat-chip>{{ application?.job?.category }}</mat-chip>
            <mat-chip>{{ application?.job?.type }}</mat-chip>
          </mat-chip-set>
          <button mat-button (click)="toggleLike()">
            <mat-icon class="text-red">{{ application?.job?.isLiked ? 'favorite' : 'favorite_outline' }}</mat-icon>
          </button>
        </div>

        <h3 class="text-[24px] font-bold">{{ application?.job?.title }}</h3>

        <p>{{ application?.job?.description }}</p>
        <div class="flex w-full flex-wrap items-center justify-between gap-2">
          <p>
            posted by <span class="font-semibold">{{ application.job?.authorName }}</span>
          </p>
          <p>
            liked <span class="font-semibold">{{ application?.job?.likes }} times</span>
          </p>
        </div>
      </div>
      <hr class="my-2" />

      <mat-accordion class="application-accordion">
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <mat-panel-title> Application details </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="w-full">
            <mat-form-field class="w-full">
              <mat-label>Cover letter</mat-label>
              <textarea disabled matInput>{{ application?.coverLetter }}</textarea>
            </mat-form-field>
            <p>
              Applied on
              <span class="font-semibold">{{ datePipe.transform(application?.appliedAt, 'yyyy-MM-dd') }}</span> at
              <span class="font-semibold"> {{ datePipe.transform(application?.appliedAt, 'hh:mm a') }}</span>
            </p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
