.mdc-button {
  min-width: auto;
  padding: 0;
}

.mat-mdc-button > .mat-icon {
  margin: 0;
}

.custom-badge .mat-badge-content {
  min-width: 65px;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  border-radius: 5px;
}

.custom-badge .mat-badge-content {
  background-color: gray;
  color: white;
  font-weight: 500;
}

.badge-accepted .mat-badge-content {
  background-color: green;
  color: white;
  font-weight: 500;
}

.badge-pending .mat-badge-content {
  background-color: orange;
  color: white;
  font-weight: 500;
}

.badge-rejected .mat-badge-content {
  background-color: red;
  color: white;
  font-weight: 500;
}

.badge-default .mat-badge-content {
  background-color: gray;
  color: white;
  font-weight: 500;
}
