<div *ngIf="loading" class="flex h-[90vh] items-center justify-center">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loading">
  <div class="flex flex-wrap items-center justify-between">
    <h3 class="mb-5 text-[24px] font-bold">Applicants for {{ job?.title }}</h3>
    <button mat-raised-button class="mb-5 text-right font-semibold" (click)="goToApplicants()">
      <mat-icon>people</mat-icon> Back to my jobs
    </button>
  </div>
  <ul class="flex w-full flex-col gap-5">
    <li *ngFor="let applicant of applicants; trackBy: trackById">
      <app-applicant-list-item
        (applicantRejected)="onApplicantRejected($event)"
        (applicantAccepted)="onApplicantAccepted($event)"
        [applicant]="applicant"></app-applicant-list-item>
    </li>
  </ul>
  <p *ngIf="applicants?.length === 0" class="text-[24px] font-semibold">No applicants yet...</p>
</div>
