<h3 class="mb-3 text-[24px] font-bold">Change password</h3>
<form
  [ngClass]="{ 'pointer-events-none': loading }"
  class="flex w-full flex-col gap-2"
  [formGroup]="changePasswordForm"
  (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Old password</mat-label>
    <input
      type="password"
      matInput
      placeholder="Old password"
      formControlName="oldPassword"
      [errorStateMatcher]="matcher" />
    <mat-error *ngIf="changePasswordForm.get('oldPassword')?.hasError('required')">
      Old password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>New password</mat-label>
    <input
      type="password"
      matInput
      placeholder="New password"
      formControlName="newPassword"
      [errorStateMatcher]="matcher" />
    <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">
      New password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>New password again</mat-label>
    <input
      type="password"
      matInput
      placeholder="New password"
      formControlName="reNewPassword"
      [errorStateMatcher]="matcher" />
    <mat-error *ngIf="changePasswordForm.get('reNewPassword')?.hasError('required')">
      New password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button type="submit" mat-raised-button>
    <mat-spinner *ngIf="loading" diameter="20" /> <span *ngIf="!loading">Change password</span>
  </button>
  <span class="mb-2 justify-end text-center font-semibold text-red" *ngIf="submitError">{{ submitError }}</span>
</form>
