<form [attr.id]="formName" class="flex w-full flex-col gap-3" [formGroup]="jobApplyForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Cover letter</mat-label>
    <textarea
      matInput
      formControlName="coverLetter"
      [errorStateMatcher]="matcher"
      placeholder="Ex. I dream to work at your company..."></textarea>
    <mat-error *ngIf="jobApplyForm.get('coverLetter')?.hasError('required')">
      Cover letter is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <span class="mb-2 justify-end text-center font-semibold text-red" *ngIf="submitError">{{ submitError }}</span>
</form>
