<app-header [user]="user" (closeDrawerEvent)="closeDrawer()" (toggleDrawerEvent)="toggleDrawer()"></app-header>
<mat-drawer-container autosize>
  <mat-drawer
    class="app-drawer"
    [ngStyle]="{ position: 'fixed', top: '64px', 'min-width': '200px', background: 'whitesmoke' }"
    #drawer
    mode="over"
    position="start">
    <mat-nav-list>
      <mat-list-item (click)="toggleDrawer()" [routerLink]="'/home'">
        <button mat-button>
          <mat-icon>{{ user ? 'cases' : 'home' }}</mat-icon> {{ user ? 'Jobs' : 'Home' }}
        </button>
      </mat-list-item>
      <mat-list-item (click)="toggleDrawer()" [routerLink]="'/applications'">
        <button mat-button><mat-icon>apps</mat-icon> Applications</button>
      </mat-list-item>
      <mat-list-item *ngIf="user" (click)="toggleDrawer(); logout()">
        <button mat-button><mat-icon>no_meeting_room</mat-icon> Logout</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content w-full" role="main">
      <div class="flex w-full justify-center">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
