<h1 class="my-2 text-center text-[24px] font-semibold">REGISTER FORM</h1>
<mat-tab-group [ngClass]="{ 'pointer-events-none': loading }" (selectedTabChange)="onTabChange($event)">
  <mat-tab label="User">
    <form class="registration-form mt-3 flex w-full flex-col gap-3" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" formControlName="username" [errorStateMatcher]="matcher" />
        <mat-error *ngIf="registerForm.get('username')?.hasError('required')">
          Username <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher" />
        <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="Password"
          formControlName="password"
          [errorStateMatcher]="matcher" />
        <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input type="text" matInput placeholder="First Name" formControlName="firstName" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input type="text" matInput placeholder="Last Name" formControlName="lastName" />
      </mat-form-field>
      <button type="submit" mat-raised-button>
        <mat-spinner *ngIf="loading" diameter="20" /> <span *ngIf="!loading">Create account</span>
      </button>
      <span class="my-2 text-right">Already a user? <a class="font-semibold" routerLink="/login">Login</a></span>
      <span class="mb-2 text-center font-semibold text-red" *ngIf="submitError">{{ submitError }}</span>
      <span class="mb-2 text-center font-semibold text-light-green" *ngIf="submitSuccess"
        >Your registration was successful!</span
      >
    </form>
  </mat-tab>
  <mat-tab label="Organization">
    <form class="login-form mt-3 flex w-full flex-col gap-3" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Company Name</mat-label>
        <input matInput placeholder="Company Name" formControlName="username" [errorStateMatcher]="matcher" />
        <mat-error *ngIf="registerForm.get('username')?.hasError('required')">
          Username <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher" />
        <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="Password"
          formControlName="password"
          [errorStateMatcher]="matcher" />
        <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button [disabled]="loading">
        <mat-spinner *ngIf="loading" diameter="20" /> <span *ngIf="!loading">Create organization</span>
      </button>
      <span class="my-2 text-right">Already a user? <a class="font-semibold" routerLink="/login">Login</a></span>
      <span class="mb-2 justify-end text-center font-semibold text-red" *ngIf="submitError">{{ submitError }}</span>
      <span class="mb-2 text-center font-semibold text-light-green" *ngIf="submitSuccess"
        >Your registration was successful!</span
      >
    </form>
  </mat-tab>
</mat-tab-group>
